# -------------------------------
# EcoMind Kubernetes Deployment
# -------------------------------

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecomind-deployment
  labels:
    app: ecomind
spec:
  replicas: 3
  selector:
    matchLabels:
      app: ecomind
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: ecomind
    spec:
      containers:
        - name: ecomind
          image: ecomind:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000

          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"

          livenessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /docs
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: ecomind-service
spec:
  type: ClusterIP
  selector:
    app: ecomind
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
